body {
   font-family: Verdana; 
}

.geen {
    display: inline-block;
    width:50px;
    height: 47px;
    background-image: url('http://22238.hosts.ma-cloud.nl/periode3/FOP/Waardering/Sterretjes/sterretjeleeg.png');
}

.geen:hover {
    background-image: url('http://22238.hosts.ma-cloud.nl/periode3/FOP/Waardering/Sterretjes/sterdrukpng.png');
    cursor: pointer;
}

.geen span {
    display: inline-block;
    width: 0px;
    height: 32px;
    background-image: url('http://22238.hosts.ma-cloud.nl/periode3/FOP/Waardering/Sterretjes/sterretjevol.png')
}